In [1]:
import numpy as np
import pandas as pd

with open('JERS_values.npy', 'rb') as f:
            g = np.load(f, allow_pickle=True)

In [2]:
g = pd.DataFrame(g)
g.shape

(18646, 7)

In [3]:
X = g.iloc[:, :6]
y = g.iloc[:, 6:]

In [19]:
g.columns = ['a','b','c','d','e', 'f','y']

In [24]:
g.describe()

,a,b,c,d,e,f,y
count,18646.000000,18646.000000,18646.000000,18646.000000,18646.000000,18646.000000,18646.000000
mean,6.637456,4.958597,12.751421,5.046498,4.566609,25.807662,1.109353
std,8.420273,5.677032,9.299754,4.323327,4.148625,4.819940,0.932706
min,0.000000,0.000000,0.000000,0.000000,0.000000,8.083039,0.000000
25%,2.000000,3.000000,5.000000,3.000000,3.000000,23.361370,1.000000
50%,3.000000,4.000000,11.000000,4.000000,4.000000,27.347634,1.000000
75%,5.000000,5.000000,18.000000,6.000000,4.000000,29.828785,1.000000
max,53.000000,62.000000,63.000000,34.000000,34.000000,33.260991,3.000000

In [124]:
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(random_state=0, max_depth = 20).fit(X, y)

nn = MLPClassifier(random_state = 1, max_iter = 1000).fit(X, y)

C:\Users\Jairo Enrique\.conda\envs\DataScience\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [126]:
from joblib import dump, load
dump(tree, 'JERS.joblib')

['JERS.joblib']

In [85]:
tree = load('JERS.joblib')

In [87]:
action = tree.predict(np.array(X.iloc[300,:]).reshape(-1,1).T)

In [101]:
np.sum(y == 3)

6    334
dtype: int64

In [125]:
from sklearn.metrics import classification_report

y_pred = nn.predict(X)
print(classification_report(y, y_pred))

y_pred = tree.predict(X)
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

         0.0       0.76      0.26      0.38      4480
         1.0       0.66      0.95      0.78     10369
         2.0       0.66      0.35      0.45      1075
         3.0       0.71      0.40      0.51      2722

    accuracy                           0.67     18646
   macro avg       0.70      0.49      0.53     18646
weighted avg       0.69      0.67      0.63     18646

              precision    recall  f1-score   support

         0.0       0.89      0.88      0.88      4480
         1.0       0.83      0.96      0.89     10369
         2.0       0.93      0.46      0.61      1075
         3.0       0.98      0.64      0.77      2722

    accuracy                           0.86     18646
   macro avg       0.91      0.73      0.79     18646
weighted avg       0.87      0.86      0.86     18646

In [111]:
np.sum(nn.predict(X) == 3)

225